        <div class="row">
          <div data-animate="fadeInUp" class="col-lg-6">
            <p class="text-center">PERSONAL INFO</p>
            <div class="row">
              
              <div class="col-lg-2"><p id="wq" class="right-align">WHO:</p></div>
              <div class="col-lg-10"><p class="progress-title" data-animate="fadeInDown" >CARLO VICENTE PANER VILLANOBOS</p></div>

            </div>
            <div class="row">
              
              <div class="col-lg-2"><p id="wq" class="right-align">WHAT:</p></div>
              <div class="col-lg-10"><p class="progress-title" data-animate="fadeInDown" >PROGRAMMER/DEVELOPER</p></div>

            </div>
            <div class="row">
              
              <div class="col-lg-2"><p id="wq" class="right-align">WHERE:</p></div>
              <div class="col-lg-10"><p class="progress-title" data-animate="fadeInDown" >DIPOLOG CITY, ZAMBOANGA DEL NORTE</p></div>

            </div>
            <div class="row">
              
              <div class="col-lg-2"><p id="wq" class="right-align">WHEN:</p></div>
              <div class="col-lg-10"><p class="progress-title" data-animate="fadeInDown" >2016 - PRESENT</p></div>

            </div>
            <div class="row">
              
              <div class="col-lg-2"><p id="wq" class="right-align">WHY:</p></div>
              <div class="col-lg-10"><p class="progress-title" data-animate="fadeInDown" >PASSION</p></div>

            </div>
          </div>
          <!-- VERTICAL DIVIDER <div class="col-lg-2">
            <div class="vl"></div>
          </div> -->
          <div data-animate="fadeInUp" class="col-lg-6">
            <p class="text-center">SKILL LEVEL</p>
            <div class="skill-item">
              <div class="progress-title">PHP</div>
              <div class="progress">
                <div role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-skill1"></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="progress-title">Javascript</div>
              <div class="progress">
                <div role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-skill2"></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="progress-title">HTML coding</div>
              <div class="progress">
                <div role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-skill3"></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="progress-title">Java</div>
              <div class="progress">
                <div role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-skill4"></div>
              </div>
            </div>
            <div class="skill-item">
              <div class="progress-title">Python</div>
              <div class="progress">
                <div role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-skill5"></div>
              </div>
            </div>
          </div>
          <div data-animate="fadeInUp" class="col-sm-6 mx-auto mt-5"><img data-alt-src="img/about1.jpg" src="img/about.jpg" alt="This is me - IT worker" class="xyz image rounded-circle img-fluid"></div>
        </div>